:root {
  --Very_dark_desaturated_blue: hsl(238, 29%, 16%);
  --Soft_red: #f47c57;

  --Soft_violet: hsl(273, 75%, 66%);
  --Soft_blue: hsl(240, 73%, 65%);

  --Very_dark_grayish_blue: #4a4b5e;
  --Dark_grayish_blue: hsl(240, 6%, 50%);

  --Light_grayish_blue: hsl(240, 5%, 91%);

  --dfont: "Kumbh Sans", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(
    to bottom,
    var(--Soft_violet),
    var(--Soft_blue)
  );
  font-family: var(--dfont);
}

.card {
  display: flex;
  background-color: white;
  width: 65vw;
  /* overflow: hidden; */
  position: relative;
  border-radius: 25px;
}
.side {
  flex: 1 1 50%;
}

.one {
  background-image: url(./images/bg-pattern-desktop.svg);
  background-repeat: no-repeat;
  background-size: 200%;
  background-position: 118% 65%;
  overflow: hidden;
}

.img-woman {
  width: 100%;
  position: relative;
  left: -18%;
  top: 50%;
  transform: translateY(-50%);
}

.img-box {
  position: absolute;
  width: 170px;
  top: 40%;
  left: -13%;
}

.two {
  padding: 50px 70px 50px 0;
}

h1 {
  font-weight: 700;
  text-transform: uppercase;
  font-size: 26px;
  margin-bottom: 25px;
}

.ans {
  display: none;
}

.ques {
  width: 100%;
  font-size: 13px;
  color: var(--Very_dark_grayish_blue);
  font-weight: 400;
  display: flex;
  justify-content: space-between;
  cursor: pointer;
}

.ques::after {
  content: url(./images/icon-arrow-down.svg);
}

.item::after {
  content: "";
  width: 100%;
  height: 1px;
  display: block;
  background-color: var(--Light_grayish_blue);
  margin: 15px 0;
}

.ques:hover {
  color: var(--Soft_red);
  font-weight: 700;
  /* font-weight: 14px; */
}

.ans {
  font-size: 12px;
  margin-top: 10px;
  padding-right: 20px;
}
