:root {
  --Red: hsl(0, 78%, 62%);
  --Cyan: hsl(180, 62%, 55%);
  --Orange: hsl(34, 97%, 64%);
  --Blue: hsl(212, 86%, 64%);

  --VeryDarkBlue: hsl(234, 12%, 34%);
  --GrayishBlue: hsl(229, 6%, 66%);
  --VeryLightGray: hsl(0, 0%, 96%);

  --dfont: "Poppins", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  font-family: var(--dfont);
  background-color: var(--VeryLightGray);
}

.container {
  height: 100%;
}

.header {
  max-width: 30vw;
  margin: auto;
  text-align: center;
  margin-top: 30px;
}
.hone {
  font-size: 2rem;
  font-weight: 200;
  color: var(--VeryDarkBlue);
}

.htwo {
  font-size: 1.9rem;
  font-weight: 700;
  color: var(--VeryDarkBlue);
}
.hthree {
  margin-top: 10px;
  font-size: 0.85rem;
  font-weight: 400;
  color: var(--GrayishBlue);
}

.cards {
  display: flex;
  width: 80vw;
  margin: auto;
  margin-top: 50px;
  gap: 30px;
}

.col {
  flex: 1;
  display: flex;
  align-items: center;
  gap: 30px;
}

.col-two {
  flex-flow: column nowrap;
  align-items: stretch;
}

.card {
  flex: 1;
  padding: 30px;
  background-color: white;
  box-shadow: 0px 3px 10px rgba(128, 128, 128, 0.4);
}

.card > header {
  font-size: 1.3rem;
  font-weight: 700;
  color: var(--VeryDarkBlue);
  margin-bottom: 10px;
}

.card > p {
  font-size: 0.9rem;
  color: var(--GrayishBlue);
  line-height: 1.7;
}

.card > img {
  display: block;
  margin-left: auto;
  margin-top: 40px;
  width: 60px;
}

.cone {
  border-top: 4px solid var(--Cyan);
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.ctwo {
  border-top: 4px solid var(--Red);
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
.cthree {
  border-top: 4px solid var(--Orange);
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
.cfour {
  border-top: 4px solid var(--Blue);
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.container::after {
  content: "";
  display: block;
  height: 50px;
}
