* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  font-family: "Outfit", sans-serif;
}
body {
  background-color: hsl(212, 45%, 89%);
}
.card {
  width: 265px;
  overflow: hidden;
  background-color: hsl(0, 0%, 100%);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 10px;
  border-radius: 10px;
}

.img-qr {
  width: 100%;
  border-radius: 10px;
}

header {
  font-size: 18px;
  margin-top: 20px;
  font-weight: bold;
  text-align: center;
  padding: 0 15px;
}
article {
  font-size: 14px;
  line-height: 1.2;
  margin-top: 15px;
  margin-bottom: 25px;
  /* font-weight: bold; */
  text-align: center;
  color: rgba(0, 0, 0, 0.5);
  padding: 0 15px;
}
