:root {
  --Bright_orange: hsl(31, 77%, 52%);
  --Dark_cyan: hsl(184, 100%, 22%);
  --Very_dark_cyan: hsl(179, 100%, 13%);

  --Transparent_white: hsla(0, 0%, 100%, 0.75);
  --Very_light_gray: hsl(0, 0%, 95%);

  --font_big: "Big Shoulders Display", cursive;
  --font_normal: "Lexend Deca", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
}

body {
  font-family: var(--font_normal);
  background-color: var(--Very_light_gray);
  justify-content: center;
  display: flex;
  align-items: center;
  position: relative;
}

img {
  width: 3.9vw;
  margin-bottom: 2.5vw;
}

header {
  font-family: var(--font_big);
  font-size: 2.4vw;
  letter-spacing: 0.5px;
  font-weight: 700;
  text-transform: uppercase;
  color: var(--Very_light_gray);
  margin-bottom: 2vw;
}

.container {
  width: 60vw;
  background-color: grey;
  display: flex;
  border-radius: 10px;
  overflow: hidden;
  position: relative;
}

.card {
  flex: 1 1 33.3%;
  color: var(--Transparent_white);
  padding: 3.5vw;
  display: flex;
  flex-flow: column nowrap;
}

.cone {
  background-color: var(--Bright_orange);
}
.ctwo {
  background-color: var(--Dark_cyan);
}
.cthree {
  background-color: var(--Very_dark_cyan);
}

.ione::after {
  content: "Learn More";
  display: block;
  color: var(--Bright_orange);
  font-size: 0.9vw;
  border: 1px solid var(--Very_light_gray);
  width: fit-content;
  padding: 0.5vw 1.7vw;
  letter-spacing: 0.9px;
  border-radius: 50px;
  margin-top: 4vw;
  background-color: var(--Very_light_gray);
}

.ione:hover::after {
  background-color: transparent;
  color: var(--Very_light_gray);
}

.itwo::after {
  content: "Learn More";
  display: block;
  color: var(--Dark_cyan);
  font-size: 0.9vw;
  border: 1px solid var(--Very_light_gray);
  width: fit-content;
  padding: 0.5vw 1.7vw;
  letter-spacing: 0.9px;
  border-radius: 50px;
  margin-top: 4vw;
  background-color: var(--Very_light_gray);
}

.itwo:hover::after {
  background-color: transparent;
  color: var(--Very_light_gray);
}

.ithree::after {
  content: "Learn More";
  display: block;
  color: var(--Very_dark_cyan);
  font-size: 0.9vw;
  border: 1px solid var(--Very_light_gray);
  width: fit-content;
  padding: 0.5vw 1.7vw;
  letter-spacing: 0.9px;
  border-radius: 50px;
  margin-top: 4vw;
  background-color: var(--Very_light_gray);
}

.ithree:hover::after {
  background-color: transparent;
  color: var(--Very_light_gray);
}

.info {
  font-size: 0.9vw;
  font-weight: 400;
  color: var(--Transparent_white);
  line-height: 2;
  /* margin-bottom: 3vw; */
}

@media screen and (max-width: 375px) {
  body {
    /* align-items: flex-start; */
    padding-top: 15vw;
    flex-flow: column nowrap;
    height: 100%;
    justify-content: flex-start;
  }
  img {
    width: 16vw;
    margin-bottom: 10vw;
  }
  header {
    font-size: 10vw;
    margin-bottom: 8vw;
  }

  .container {
    width: 85vw;
    flex-flow: column nowrap;
    overflow: visible;
    height: auto;
    border-radius: 10px;
  }
  .card {
    flex: 1 2 90vh;
    padding: 12vw;
  }
  .info {
    font-size: 4vw;
    line-height: 1.8;
  }

  .info::after {
    font-size: 4vw;
    padding: 3vw 7vw;
    margin-top: 7vw;
    /* margin-bottom: 10px; */
  }
  .fix {
    border: 10px solid transparent;
  }
  .cone {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
  }
  .cthree {
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
  }
}
